
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    min-height: 100vh;
  }

.linia {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}


.board_block {
    width: 4rem;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(217, 213, 213) solid;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}




.keyboard_block {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(224, 223, 223);
    border: 1px rgb(217, 213, 213) solid;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}