
@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    all:unset;
    text-align:center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    min-height: 100vh;
  }

.board_block {
    width: 4rem;
    height: 4rem;
    background-color: rgb(250, 250, 250);
    border: 2px rgb(217, 213, 213) solid;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}




.keyboard_block {
    width: 4.5rem;
    height: 4.5rem;
    background-color: rgb(224, 223, 223);
    border: 1px rgb(217, 213, 213) solid;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

#Enter,#Delete,
#a,#s,#d,#f,#g,#h,#j,#k,#l,
#ą,#ć,#ę,#ł,#ń,#ó,#ś,#ź,#ż {
    flex-grow:1;
}


#q, #w, #e, #r, #t, #y, #u, #i, #o, #p,
#a, #s, #d, #f, #g, #h, #j, #k, #l,
 #z, #x, #c, #v, #b, #n, #m,
#ą, #ć, #ę, #ł, #ń, #ó, #ś, #ź, #ż {
    text-transform: uppercase;
}




.state-colour-green {
    animation: rotateAndColor_green 2s forwards;
}

.state-colour-yellow {
    animation: rotateAndColor_yellow 2s forwards;
}

.state-colour-grey {
    animation: rotateAndColor_grey 2s forwards;
}

.big-letter {
    text-transform: uppercase;
}


@keyframes rotateAndColor_green {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
        background-color: green;
    }
}

@keyframes rotateAndColor_yellow {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
        background-color: yellow;
    }
}

@keyframes rotateAndColor_grey {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
        background-color: grey;
    }
}

.night {
    background-color:black;
}

.white {
    color:white;
}

.showObject {
    display:none;
}






.InstructionCard {
    display:none;
}

.grey-background {
    background-color:#313448;
}